.amboaro p {
    word-break:break-all ;
}

.ito  { font-family:Helvetica,Arial,sans-serif;width:446px;height:auto; font-size:8.7px;padding: 0 1cm; }


@media print {
    html,body{
        height: initial !important;
        overflow: initial !important;
        -webkit-print-color-adjust:exact;
    }
    /* Réçu */
    #scan{
        font-size: 0.9em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
        padding: 0px;
    }
    .crdtfont{
        font-size: 10em !important;
    }
    .crdt__{
        padding-top: 5% !important;
        padding-left: 20% !important;
    }
   
}

@page{
    size: portrait;
    margin: 10mm;
}

/* Rapport */
.rapportxxx{
    page:special;
}

/* Récu */
#scan{
    page:special1;
}
/* Récu */
#scann{
    page:special2;
}


@page special{
    margin: 4mm;
    size:portrait
}

/* Réçu */
@page special1{
    size: 64mm 72mm;
    /* margin: 0mm 4mm 0mm 4mm; */
    
}
/* CR */
@page special2{
    margin: 20mm;
    size:portrait
}